{
  "parser": "babel-eslint",
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "ignorePatterns": ["public/*.js"],
  "rules": {
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "max-lines": ["error", { "max": 800, "skipBlankLines": true }],
    "prettier/prettier": "error",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-first-prop-new-line": [1, "multiline"],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 1,
        "when": "multiline"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".js"]
      }
    }
  }
}
