.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://picsum.photos/3000');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .title {
    text-align: center;
    h1 {
      font-weight: 900;
    }
  }
  .form {
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    width: 500px;
    height: 80vh;
  }
}
