.home {
  scroll-behavior: smooth;
  height: 400px;

  .red-content {
    color: @color-primary;
  }

  .click-me {
    background-color: #fbaa33 !important;
  }
  .buttonOnTop {
    position: fixed;
    top: 90%;
    right: 20px;
    button {
      border: 1px solid white;
      background-color: #fbaa33;
      a {
        svg {
          fill: white;
        }
      }
    }
  }
}
