.skillContent {
  padding: 50px;
  .title {
    text-align: center;
    h1 {
      font-size: 30px;
      font-weight: 900;
    }
  }
  .skills {
    .colElement {
      display: flex;
      justify-content: center;
    }
    .item {
      .selected {
        SVG {
          margin-right: 6px;
        }
        font-weight: bold;
        span[class*='ant-menu-title-content'] {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
