.padding {
    padding: 20px;
    
    .card {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
    width: 100%!important;
    }
}
.center {
    text-align: center;
    h1{ 
        font-weight:900
    }
    h3 {
        opacity: 0.8;
    }
}