.services {
  margin-top: 50px;
  padding: 30px;

  div[class*='ant-row'] {
    padding: 70px;
  }

  .padding {
    padding: 20px;

    .card {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 100% !important;

      &.active {
        transform: scale(1.13);
      }

      div[class*='ant-card-head-title'] {
        display: flex;
        SVG {
          margin-right: 6px;
        }
      }
      .contentPricing {
        line-height: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        h2 {
          font-size: 28px;
        }
        button {
          margin-top: 15px;
          color: white;
          background-color: #1890ff;
        }
      }
    }
  }

  .center {
    text-align: center;

    h1 {
      font-weight: 900;
    }

    h3 {
      opacity: 0.8;
    }
  }
}
