.avtive {
    color:aqua;
}
.navbar {
    padding: 5px 0px;
    width: 100%;
    display: flex;
    color:black;
  
     .logo {  
         color:black;
         font-weight: 600;
         margin-left: 100px;
        justify-content: flex-start;
        display: flex;
        align-items: center;       
        font-size: 24px;
    }
    .nav-right {
      
        margin-right: 100px;
        width: 100%;
        justify-content: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
   
    .ul{
        margin: 0;
        justify-content: space-around;
        list-style: none;
        display: flex;
        padding: 0;
        li{
            display: flex;
            justify-content: space-around;
            a{
                  color:black;
                font-size: 18px;
                margin: 0px 10px;
                text-decoration: none;
            }
        }
       
    }
}