.intro {
  margin-top: 100px;
  .four {
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg {
      margin: 5px 0px;
    }
  }
  .eight {
    justify-content: center;
    display: flex;

    h1 {
      font-weight: 800;
    }
    h3 {
      opacity: 0.9;
    }
    p {
      color: black;
      opacity: 0.8;
    }
    color: blue;
    display: flex;
    flex-direction: column;
    .button {
      width: 160px;
      height: 50px;
    }
  }
  .ten {
    position: relative;
    width: 340px;
    height: 335px;
    // background-image: url('../../../assets/images/tanne.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 20px solid rgb(214, 147, 147);
    img {
      border: 20px solid rgb(221, 172, 172);
      border-radius: 50%;
    }
  }
}
.scroll {
  .link {
    cursor: pointer;
    font-size: 16px;
    margin: 5px;

    &:hover {
      color: black;
    }
  }
}
